<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">

    <label for="bookName">Введите название книги: </label>
    <input type="text" th:field="*{bookName}" id="bookName"/>
    <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">af</div>
    <br/>

    <label for="author">Введите автора книги: </label>
    <input type="text" th:field="*{Author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('Author')}" th:errors="*{Author}">af</div>
    <br/>

    <label for="yearOfPublication">Введите год написания книги: </label>
    <input type="text" th:field="*{yearOfPublication}" id="yearOfPublication"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfPublication')}" th:errors="*{yearOfPublication}">af</div>
    <br/>

    <input type="submit" value="Создать!"/>

</form>

</body>
</html>